<div class='bg-light p-3 col l5 m10 s10'>
  {{#each stocks as |stocks|}}
    <h3>{{stocks}}</h3>
  {{/each}}

  <h4 class='text-primary'>Search for your Stock</h4>
  <form id='search-form' class='mb-2'>
    <input id='search-input' type='text' placeholder='Search!' />
    <button class='btn btn-info btn-block' id='search-button'>
      Search<i class='material-icons right'>send</i>
    </button>
  </form>
</div>

<div class='current-prices col l8 m7 s10 offset-l3 offset-m4 offset-s1'>
  <h4 id='symbol'>Your Stock Information</h4>
  <i class='small material-icons'>attach_money</i>
  <p id='currentP'></p>
  <i class='small material-icons'>trending_up</i>
  <p id='highP'></p>
  <i class='small material-icons'>trending_down</i>
  <p id='lowP'></p>
  <i class='small material-icons'>add_alert</i>
  <p id='openP'></p>
  <i class='small material-icons'>access_time</i>
  <p id='prevClose'></p>
</div>
<!--<button class="btn btn-info btn-block" id="remove-stock">
              Remove Stock<i class="material-icons right">send</i>
            </button>-->

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Current Price', 'High Price', 'Low Price', 'Open Price', 'Previous Close'],
      datasets: [{
        label: 'Stock Symbol',
        data: [12, 19, 3, 5, 2],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<div class='news-header col l8 m7 s10 offset-l3 offset-m4 offset-s1'>
  <h4>Latest News</h4>
</div>
<div class='current-news col l8 m7 s10 offset-l3 offset-m4 offset-s1'>
</div>

<br /><hr />

<div id="add-stock-button">
<button class='btn btn-info btn-block' id='add-stock'>
  Add Stock<i class='material-icons right'>add_box</i>
</button>
</div>
<br />
<button class='btn btn-info btn-block'>
  <a href='/watchlist'>Back to Watchlist<i class='material-icons right'>keyboard_return</i></a>
  </button>
<br /><br />
<script src='/js/stock.js'></script>