header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
/* project 2 code added */
h1 a {
  color: #2d3e50;
}
.btn a:hover,
.btn a:visited {
  color: #fff;
  text-decoration: none;
}
.btn.btn-info {
  background-color: #2d3e50;
}
.current-prices {
  display: flex;
  justify-content: space-evenly;
  padding: 4em 0px;
}
.current-prices h4 {
  margin: 0;
  margin-right: 30px;
  text-transform: uppercase;
}
.current-prices p {
  margin-right: 30px;
}

.nav-bar, .btn {
  background-color: #2D3E50 !important;
}

.btn.btn-danger {
  width: max-content;
}

#search-input {
  background-color: white;
}